body {
  font-family: 'Teko', sans-serif;
  color: #000;
}

div {
  align-items: center;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

#pokemon-name {
  background-color: #ff3c00;
  border: none;
  margin: 2px;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  text-align: left;
  text-transform: capitalize;
  list-style-type: none;
}

.pokemon-title {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  text-transform: capitalize;
}

.ul {
  list-style-type: none;
}

.li {
  list-style-type: none;
}

.modal-title {
  text-transform: capitalize;
}

.modal h1 {
  text-transform: capitalize;
}

.page-container {
  margin-top: 85px;
}
