body {
  font-family: 'Teko', sans-serif;
  color: #000;
  background-color: #edb223;
}

div {
  align-items: center;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

#pokemon-name {
  background-color: #ff3c00;
  border: none;
  margin: 2px;
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  text-align: left;
  text-transform: capitalize;
  list-style-type: none;
}

.pokemon-title {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
}

.pokemon-list {
  padding-left: 0;
  list-style-type: none;
}

.ul {
  list-style-type: none;
}

.li {
  list-style-type: none;
}

/* modals */

#modal-container {
  display: none;
}

#modal-container.is-visible {
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  margin: auto;
  background: #fff;
  padding: 15px;
  width: 100%;
}

.modal-close {
  float: right;
  border: 0;
  line-height: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  font-size: 60px;
  text-align: center;
  text-transform: capitalize;
  background: none;
  padding: 0;
  margin-block-start: 10px;
  margin-block-end: 0;
}

.modal p {
  margin: 0;
  text-align: center;
}

.page-container {
  margin-top: 85px;
}
